In [32]:
w = 25
x = 'computer'
y = ['c', '6', 'y', 'qura', ["python","java","c++"],{"keyy":"value"}]
z = ("dsgs","dsf","dsg","iu9","gsf","sdg","gs","ddg")
dic = {"keyy":"value"}
s = set(["Build an unordered collection of unique elements.",'c', '6', 'y'])
print(type(w),type(x), type(y), type(z), type(dic), type(s))

<class 'int'> <class 'str'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

In [18]:
print(x[:])

computer

In [7]:
print(x[-1])

r

In [19]:
print(y[-2:])

[['python', 'java', 'c++'], {'keyy': 'value'}]

In [22]:
print(z[:-3])

('dsgs', 'dsf', 'dsg', 'iu9', 'gsf')

In [35]:
# iterting - enumerating

for value in x:
    print(value)
print()
for index, value in enumerate(x):
    print(index, value)

c
o
m
p
u
t
e
r

0 c
1 o
2 m
3 p
4 u
5 t
6 e
7 r

    indexing
    slicing
    adding/concating
    multiplying
    checking membership - in/not in
    iterting - enumerating
    size - len()
    min()
    max() lexicographically
    sum() - sum(y[1:5]) can also be done

In [36]:
sorted(x)

['c', 'e', 'm', 'o', 'p', 'r', 't', 'u']

In [37]:
x

'computer'

In [39]:
sorted(z)

['ddg', 'dsf', 'dsg', 'dsgs', 'gs', 'gsf', 'iu9', 'sdg']

In [42]:
f = lambda z : z[1] 
f

In [57]:
ld = ["fdsiuhg", "iufbwsed", "jhfgsiu", "jyhfiusdw", "seg5hneoi", "upv1fdu", "rfhggvrsa", "upv1fdu"]

In [58]:
sorted(ld, key = lambda ra : ra[1])

['fdsiuhg',
 'seg5hneoi',
 'rfhggvrsa',
 'jhfgsiu',
 'upv1fdu',
 'upv1fdu',
 'iufbwsed',
 'jyhfiusdw']

In [60]:
ld.count('upv1fdu')

2

In [62]:
ld.index("upv1fdu") # first occurance #

5

In [63]:
a,b,c,d,e,f,g,h = ["fdsiuhg", "iufbwsed", "jhfgsiu", "jyhfiusdw", "seg5hneoi", "upv1fdu", "rfhggvrsa", "upv1fdu"]

In [64]:
a

'fdsiuhg'

In [65]:
h

'upv1fdu'

In [66]:
e

'seg5hneoi'

In [67]:
ld.insert(1, "rahul")  # insert to specific index location
ld

['fdsiuhg',
 'rahul',
 'iufbwsed',
 'jhfgsiu',
 'jyhfiusdw',
 'seg5hneoi',
 'upv1fdu',
 'rfhggvrsa',
 'upv1fdu']

In [69]:
ld.delete("rahul")
ld

AttributeError: 'list' object has no attribute 'delete'

In [70]:
results = [(1, 2, 4), (2, 4, 1), (1, 5, 2), (1, 4, 1)]
for position in results:
    for check in results:
        if position[0] == check[0] and position[1] < check[1] and position[2] < check[2]:
            results.remove(position)

In [71]:
my_list = [(1, 2, 4), (2, 4, 1), (1, 5, 2), (1, 4, 1)]
results = []
for position in my_list:
    for check in my_list:
        if not (position[0] == check[0] and position[1] < check[1] and position[2] < check[2]):
            results.append(position)

results

[(1, 2, 4),
 (1, 2, 4),
 (1, 2, 4),
 (1, 2, 4),
 (2, 4, 1),
 (2, 4, 1),
 (2, 4, 1),
 (2, 4, 1),
 (1, 5, 2),
 (1, 5, 2),
 (1, 5, 2),
 (1, 5, 2),
 (1, 4, 1),
 (1, 4, 1),
 (1, 4, 1)]

In [73]:
source = "Bengaluru"
destination = "Nashik"
flight_stack = [("Pune", "Nashik"), ("Solapur", "Pune"), ("Hydrabad", "Solapur"), ("Bengaluru", "Hydrabad")]
print(source)
print(destination)
print(flight_stack)

Bengaluru
Nashik
[('Pune', 'Nashik'), ('Solapur', 'Pune'), ('Hydrabad', 'Solapur'), ('Bengaluru', 'Hydrabad')]

In [120]:
def boarding(source, destination, flight_stack):
#     print(source)
#     print(destination)
#     print(flight_stack)
    
    
    
    
    
    result = []
    flight_stack_len = len(flight_stack) - 1
    
    for flight in flight_stack:
        if flight[0] == source:
            result.append(flight)
        # now search last of source 
    while True:    
        for element in flight_stack:
    #         print(result[0][1])
    #         print(element[0])
            if element[0] == result[0][1]:
                result.append(element)
                continue

            
            
    print(result)
#     return flight_stack[0][0] == flight_stack[1][1]

In [88]:
print(flight_stack)
data = zip(*flight_stack)
lis_data = []
for index, value in enumerate(data):
    lis_data.append(value)
    
    print(index, value)

[('Pune', 'Nashik'), ('Solapur', 'Pune'), ('Hydrabad', 'Solapur'), ('Bengaluru', 'Hydrabad')]
0 ('Pune', 'Solapur', 'Hydrabad', 'Bengaluru')
1 ('Nashik', 'Pune', 'Solapur', 'Hydrabad')

In [89]:
lis_data

[('Pune', 'Solapur', 'Hydrabad', 'Bengaluru'),
 ('Nashik', 'Pune', 'Solapur', 'Hydrabad')]

In [ ]:
boarding(source, destination, flight_stack)